<section class="spacing">
  <app-banner-title text="Contacto" />
  <div class="container">
    <div class="contactos-grid">
      <div class="mapa-contacto">
        <google-map [options]="mapOptions"></google-map>
      </div>
      <div class="contacto-info">
        <ul>
          <li>
            Calle 15 N° 658 <br />
            Mercedes - Bs. As. - Argentina
          </li>
          <li><a href=""> (02324) 434055 </a></li>
          <li><a href=""> 2324502670</a></li>
          <li>contactocofamer.com.ar</li>
          <li>
            Lunes a Viernes: 8:00 a 20:00 hs. <br />
            Sábados: 9:00 a 19:00 hs.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
