<section class="mod-datos">
  <h3 class="text-datos">Modificar datos</h3>
  <section class="datos-comp">
    <app-datos />
  </section>
  <form action="" class="form-datos">
    <div class="grid-datos">
      <div class="div">
        <label for="" class="label-datos">Farmacias</label>
        <input type="text" class="input-datos" required />
      </div>
      <div class="div">
        <label for="" class="label-datos">Profesionales</label>
        <input type="text" class="input-datos" required />
      </div>
      <div class="div">
        <label for="" class="label-datos">Habitantes</label>
        <input type="text" class="input-datos" required />
      </div>
    </div>
    <button type="submit" class="button-datos">Guardar</button>
  </form>
</section>
