<section class="container spaces">
  <div class="nosotros">
    <div class="img-col">
      <img src="../../../assets/home-el-colegio.jpg" alt="colegio-foto" />
    </div>
    <div class="texto-nosotros">
      <h3>El colegio</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
        reprehenderit ex? Beatae odit saepe vitae quod. Amet aliquid, at
        debitis, dignissimos alias itaque assumenda molestiae laudantium quaerat
        iusto eos id? debitis, dignissimos alias itaque assumenda molestiae
        laudantium quaerat iusto eos id?
      </p>
    </div>
  </div>
</section>
