.spaces {
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .spaces {
    padding: 10rem 0;
  }
}

@media (min-width: 768px) {
  .nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15rem;
  }
}

.nosotros img {
  object-fit: cover;
  border-radius: 1rem;
  height: 23rem;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .nosotros img {
    height: 100%;
    width: 100%;
  }
}

.texto-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary);
}

.texto-nosotros h3 {
  font-weight: 700;
  font-size: 4rem;
}

.buttons-nosotros {
  padding-top: 4rem;
}
