<section class="color-turnos">
  <div class="container">
    <div class="position-table">
      <h3 class="title-turnos">Mercedes</h3>
      <div class="card-turnos">
        <div class="title-card-turnos">
          Gonzales
          <p>
            Calle 24 esq 7 N° 658 <br />
            430479
          </p>
        </div>
        <div class="btn-group">
          <a href="" class="btn color-btn-primary"
            ><i class="bi bi-geo-alt"></i
          ></a>
          <a href="" class="btn color-btn-primary"
            ><i class="bi bi-telephone"></i
          ></a>
          <a href="" class="btn color-btn-secondary"
            ><i class="bi bi-whatsapp"></i
          ></a>
        </div>
        @if (isDashboard) {

        <button class="button-turnos">Sacar</button>
        }
      </div>
      <div class="card-turnos">
        <div class="title-card-turnos">
          Gonzales
          <p>
            Calle 24 esq 7 N° 658 <br />
            430479
          </p>
        </div>
        <div class="btn-group">
          <a href="" class="btn color-btn-primary"
            ><i class="bi bi-geo-alt"></i
          ></a>
          <a href="" class="btn color-btn-primary"
            ><i class="bi bi-telephone"></i
          ></a>
          <a href="" class="btn color-btn-secondary"
            ><i class="bi bi-whatsapp"></i
          ></a>
        </div>
        @if (isDashboard) {

        <button class="button-turnos">Sacar</button>
        }
      </div>
    </div>
  </div>
</section>
