.mod-turnos {
  width: 100vw;
}

@media (min-width: 769px) {
  .mod-turnos {
    width: calc(100vw - 30rem);
  }
}
.text-turnos {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
  color: var(--primary);
}

@media (min-width: 768px) {
  .text-turnos {
    font-size: 4rem;
  }
}

.form-turnos {
  padding-top: 4rem;
  max-width: 90%;
  width: 60rem;
  margin: 0 auto;
}
.head-turnos td {
  font-weight: 600;
}

.button-turnos {
  padding: 1rem 1rem;

  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: var(--primary);
  color: white;
  transition: background-color 0.4 ease;
}

.button-turnos:hover {
  background-color: #041e42de;
}
.table-body-position {
  display: flex;
  align-items: center;
  flex-direction: column;
}
