<section>
  <h3 class="text-turnos">Modificar farmacias de turno</h3>
  <div class="turnos-comp">
    <app-turnos-farm />
  </div>
  <form action="" class="form-turnos">
    <table class="table">
      <thead class="head-turnos">
        <td>Farnacia</td>
        <td>Localidad</td>
        <td>Direccion</td>
        <td>Modificar</td>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td colspan="2"><button class="button-turnos">Agregar</button></td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>fat</td>
          <td colspan="2"><button class="button-turnos">Agregar</button></td>
        </tr>
        <tr>
          <td colspan="2">Larry the Bird</td>
          <td>twitter</td>
          <td colspan="2"><button class="button-turnos">Agregar</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</section>
