.container {
  max-width: 130rem;
  width: 90%;
  margin: 0 auto;
}
.turnos-movil {
  background-color: var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  font-weight: 800;
  text-transform: uppercase;
}

.turnos-movil span {
  color: var(--secondary);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.navbar {
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  padding-left: 3rem;
  font-weight: 700;
  color: var(--primary);
}

.navbar a:first-of-type {
  padding-left: 0;
}


.logo-position-screen {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

@media (min-width: 768px) {
  .logo {
    width: 22rem;
    height: auto;
  }
}



.lista-movil {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  line-height: 2.3;
  font-size: 1.6rem;
  font-weight: 700;
}

@media (min-width: 600px) {
  .lista-movil {
    padding-top: 7rem;
    padding-left: 5rem;
    line-height: 3;
    font-size: 2rem;
  }
}
