.container {
  max-width: 130rem;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.navbar {
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  padding-left: 3rem;
  font-weight: 700;
  color: var(--primary);
}

.navbar a:first-of-type {
  padding-left: 0;
}
.logo {
  width: 18rem;
  height: auto;
}

.logo-position-screen {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  
}

@media (min-width: 768px) {
  .logo {
    width: 22rem;
    height: auto;
  }
}

.button-turnos {
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  padding: 0.9rem 1.5rem;
  background-color: var(--primary);
  border-radius: 10rem;
  text-transform: uppercase;
}

.button-turnos span {
  color: var(--secondary);
}
