<div class="fixed-top bg-white">
  <div class="d-lg-none turnos-movil">
    <div
      class="plus animate__animated animate__flash animate__infinite animate__slow"
    >
      ✚
    </div>
    Farmacias de <span>&nbsp;Turno</span>
  </div>

  <nav class="container flex">
    <div class="logo">
      @if(colegio$ | async; as resultColegios){
      <img [src]="resultColegios.logo" alt="logo colegio farm" class="logo" />
      }
    </div>
    <div class="navbar d-none d-lg-block">
      <a routerLink="">Inicio</a>
      <a routerLink="institucional" ariaCurrentWhenActive="page"
        >Institucional</a
      >
      <a routerLink="farmacias">Farmacias</a>
      <a routerLink="novedades">Novedades</a>
      <a routerLink="contacto">Contacto</a>
    </div>
    <div class="d-lg-none">
      <button
        class="btn"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight"
      >
        <i class="bi bi-list display-4"></i>
      </button>

      <div
        class="offcanvas offcanvas-end w-75 bg-light"
        tabindex="-1"
        id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel"
      >
        <div class="offcanvas-header logo-position-screen">
          <img src="../../../assets/logo-mob-menu.svg" alt="" class="logo" />
        </div>
        <div class="offcanvas-body">
          <ul class="lista-movil">
            <a>
              <i class="bi bi-chevron-right">Inicio</i>
            </a>
            <a>
              <i class="bi bi-chevron-right">Institucional</i>
            </a>
            <a>
              <i class="bi bi-chevron-right">Farmacias</i>
            </a>
            <a>
              <i class="bi bi-chevron-right">Novedades</i>
            </a>
            <a>
              <i class="bi bi-chevron-right">Contacto</i>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="turnos d-none d-lg-block">
      <app-button-main [text]="button" />
    </div>
  </nav>
</div>
