<section class="container">
  <div class="swiper">
    <swiper-container
      navigation="true"
      pagination="true"
      class="swiper-container"
    >
      <swiper-slide class="swiper-space">
        <div class="swiper-wrapper">
          @for (item of comisionList; track item.title) { @if(isDashboard){
          <form action="" class="dashboard-nov" (click)="onClickButtons(item.id)">
            <div class="swiper-slide">
              <img [src]="item.image" alt="" class="img-novedades" />
              <h1 class="name-swiper">{{ item.name }}</h1>
              <p class="title-swiper">{{ item.title }}</p>
            </div>
          </form>
          }@else{
          <div class="swiper-slide">
            <img [src]="item.image" alt="" class="img-novedades" />
            <h1 class="name-swiper">{{ item.name }}</h1>
            <p class="title-swiper">{{ item.title }}</p>
          </div>
          } }
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-space">
        <div class="swiper-wrapper">
          @for (item of comisionList; track item.title) { @if(isDashboard){
          <form action="" class="dashboard-nov" (click)="onClickButtons(item.id)">
            <div class="swiper-slide">
              <img [src]="item.image" alt="" class="img-novedades" />
              <h1 class="name-swiper">{{ item.name }}</h1>
              <p class="title-swiper">{{ item.title }}</p>
            </div>
          </form>
          }@else{
          <div class="swiper-slide">
            <img [src]="item.image" alt="" class="img-novedades" />
            <h1 class="name-swiper">{{ item.name }}</h1>
            <p class="title-swiper">{{ item.title }}</p>
          </div>
          } }
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
