.background-dashboard {
  background-color: #ecf0f4;
  display: flex;
  width: 100%;

}

.comp-sidebar {
  height: 100vh;
  width: 30rem;
}

.farm-section {
  margin-top: 7.1rem;
  display: flex;

  justify-content: center;

  width: calc(100% - 30rem);
}
