<section class="background-dashboard">
  <app-nav-dashboard />
  <div class="comp-sidebar">
    <app-sidebar />
  </div>

  @if (currentComponent === "Farmacias") {
  <section class="farm-section">
    <app-farmacias />
  </section>
  }@else if (currentComponent=== "Turnos") {
  <section class="farm-section">
    <app-turnos />
  </section>
  }@else if (currentComponent === "Novedades") {
  <section class="farm-section">
    <app-novedades />
  </section>
  }@else if (currentComponent === "Datos") {
  <section class="farm-section">
    <app-mod-datos />
  </section>
  }@else if (currentComponent === "Contacto") {
  <section class="farm-section">
    <app-contactos />
  </section>
  }
</section>
