.nav-dashboard {
  width: 100%;
  height: 7rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  right: 0;
}
@media (min-width: 769px) {
  .nav-dashboard {
    width: calc(100% - 30rem);
  }
}
.logo-dashboard {
  width: 20rem;
  height: auto;
  margin-left: 2rem;
}
.left-side {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.space-icon {
  margin-left: 3rem;
}

.button-sidebar {
  color: black;
}

.right-side {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}
@media (min-width: 768px) { 
 .right-side{
  padding-right: 5rem;
} 
}
.pointer {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.right-side h4 {
  font-size: 1.7rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 0.5rem;
  margin: 0;
}

.rounded-imagen-perfil {
  width: 5rem;
  border-radius: 100%;
  margin-left: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade la sombra */
}
.shadow-gear {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.609));
}

.shadow-gear1 {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.609));
  padding-right: 1rem;
  font-size: 1.8rem;
}

.format {
  padding: 1.5rem;
  width: 15rem;
  border-radius: 1rem;
}
.drop-item-user {
  font-size: 1.5rem;
  line-height: 3rem;

  color: black;
}

.drop-item-user:hover {
  background-color: #ecf0f4;
}

.format:hover:nth-child(1) {
  background-color: red;
}
