<section class="mod-farms">
  <h3 class="text-farms-mod">Modificar farmacias</h3>
  <app-tabla-farmacias [isDashboard]="true" (isSelected)="handleSelection($event)"/>
  <div class="container">
    <button class="button-crear-farm" (click)="(onClickButtons())">
      Crear farmacia
    </button>
    @if (isSelected) {
    <form action="" class="form-farm">
      <div class="grid-form-farm">
        <div class="div">
          <label for="" class="label-farm">Nombre</label>
          <input type="text" class="input-farm" required />
        </div>
        <div class="div">
          <label for="" class="label-farm">Localidad</label>
          <input type="text" class="input-farm" required />
        </div>
        <div class="div">
          <label for="" class="label-farm">Direccion</label>
          <input type="text" class="input-farm" required />
        </div>
        <div class="div">
          <label for="" class="label-farm">Telefono</label>
          <input type="text" class="input-farm" required />
        </div>
        <div class="div">
          <label for="" class="label-farm">WhatsApp</label>
          <input type="text" class="input-farm" required />
        </div>
      </div>
      <button type="submit" class="button-farm">Guardar</button>
    </form>
    }
  </div>
</section>
