<div class="background-nov">
  <div class="container">
    <div class="novedades">
      <h2 class="novedades_title">Novedades</h2>
      <!-- <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="../../../assets/novedad.jpg"
              alt=""
              class="img-novedades"
            />
            <div class="novedad_slide">
              <p class="fecha_card">03 abril, 2024</p>
              <h4>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                <br />y archivos de texto.
              </h4>
              <h5>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                y archivos de te
              </h5>
              <p class="boton_mas">LEER MÁS</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              src="../../../assets/novedad.jpg"
              alt=""
              class="img-novedades"
            />
            <div class="novedad_slide">
              <p class="fecha_card">03 abril, 2024</p>
              <h4>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                <br />y archivos de texto.
              </h4>
              <h5>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                y archivos de te
              </h5>
              <p class="boton_mas">LEER MÁS</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              src="../../../assets/novedad.jpg"
              alt=""
              class="img-novedades"
            />
            <div class="novedad_slide">
              <p class="fecha_card">03 abril, 2024</p>
              <h4>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                <br />y archivos de texto.
              </h4>
              <h5>
                Lorem Ipsum es simplemente el texto de relleno de las imprentas
                y archivos de te
              </h5>
              <p class="boton_mas">LEER MÁS</p>
            </div>
          </div>
          ...
        </div>

        <div
          class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
        ></div>
        <span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
          tabindex="0"
          role="button"
          aria-label="Go to slide 1"
          aria-current="true"
        ></span>
        <span
          class="swiper-pagination-bullet"
          tabindex="0"
          role="button"
          aria-label="Go to slide 2"
        ></span>
      
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>
      </div> -->
    </div>


<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
  </div>
</div>
