<div class="container">
  <div class="novedades">
    <h2 class="novedades_title">Novedades</h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="../../../assets/novedad.jpg" alt="" class="img-novedades" />
          <div class="novedad_slide">
            <p>03 abril, 2024</p>
            <h4>
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y
              archivos de texto.
            </h4>
            <p>
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y
              archivos de te
            </p>
            <p>LEER MAS</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../../assets/novedad.jpg" alt="" class="img-novedades" />
          <div class="novedad_slide">
            <p>03 abril, 2024</p>
            <h4>
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y
              archivos de texto.
            </h4>
            <p>
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y
              archivos de te
            </p>
            <p>LEER MAS</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="../../../assets/novedad.jpg" alt="" class="img-novedades" />
          <div class="novedad_slide">
            <p>03 abril, 2024</p>
            <h4>
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y
              archivos de texto.
            </h4>
            <p>
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y
              archivos de te
            </p>
            <p>LEER MAS</p>
          </div>
        </div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>
