.novedades {
  margin: 0 auto;
  padding-top: 9rem;
}

.novedades_title {
  text-align: center;
  color: var(--primary);
  font-weight: 700;
  font-size: 4.8rem;
}

.swiper {
  padding: 3rem 0;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}

.swiper-slide {
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  background-color: whitesmoke;
}

.img-novedades {
  width: 40rem;
  height: auto;
  border-radius: 0.5rem;
}
