<div class="background-nov">
  <div class="container">
    <div class="novedades">
      @if (showTitle) {

      <h2 class="novedades_title">Novedades</h2>
      }
    </div>
    <div class="swiper">
      <swiper-container navigation="true" pagination="true">
        <swiper-slide>
          <div class="swiper-wrapper">
            @for (item of novedadesList; track item.id) { @if (isDashboard) {
            <form class="dashboard-nov" (click)="onClickButtons(item.id)">
              <div class="swiper-slide">
                <img [src]="item.imgNov" alt="" class="img-novedades" />
                <div class="novedad_slide">
                  <p class="fecha_card">{{ item.fecha }}</p>
                  <h4>
                    {{ item.titulo }}
                    <br />y archivos de texto.
                  </h4>
                  <h5>
                    {{ item.subtitulo }}
                  </h5>
                  <a
                    routerLink="novedadesDetail/{{ item.id }}"
                    class="boton_mas"
                    >LEER MÁS</a
                  >
                </div>
              </div>
            </form>

            }@else {
            <div class="swiper-slide">
              <img [src]="item.imgNov" alt="" class="img-novedades" />
              <div class="novedad_slide">
                <p class="fecha_card">{{ item.fecha }}</p>
                <h4>
                  {{ item.titulo }}
                  <br />y archivos de texto.
                </h4>
                <h5>
                  {{ item.subtitulo }}
                </h5>
                <a routerLink="novedadesDetail/{{ item.id }}" class="boton_mas"
                  >LEER MÁS</a
                >
              </div>
            </div>
            } }
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="swiper-wrapper">
            @for (item of novedadesList; track item.id) { @if (isDashboard) {
            <form class="dashboard-nov" (click)="onClickButtons(item.id)">
              <div class="swiper-slide">
                <img [src]="item.imgNov" alt="" class="img-novedades" />
                <div class="novedad_slide">
                  <p class="fecha_card">{{ item.fecha }}</p>
                  <h4>
                    {{ item.titulo }}
                    <br />y archivos de texto.
                  </h4>
                  <h5>
                    {{ item.subtitulo }}
                  </h5>
                  <a
                    routerLink="novedadesDetail/{{ item.id }}"
                    class="boton_mas"
                    >LEER MÁS</a
                  >
                </div>
              </div>
            </form>

            }@else {
            <div class="swiper-slide">
              <img [src]="item.imgNov" alt="" class="img-novedades" />
              <div class="novedad_slide">
                <p class="fecha_card">{{ item.fecha }}</p>
                <h4>
                  {{ item.titulo }}
                  <br />y archivos de texto.
                </h4>
                <h5>
                  {{ item.subtitulo }}
                </h5>
                <a routerLink="novedadesDetail/{{ item.id }}" class="boton_mas"
                  >LEER MÁS</a
                >
              </div>
            </div>
            } }
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
    <div class="button-main">
      @if(!isDashboard){
      <app-button-main [text]="textButton" />

      }
    </div>
  </div>
</div>
