.spacing {
  padding-top: 15rem;
}

@media (min-width: 1200px) {
  .spacing {
    padding-top: 25rem;
  }
}

@media (min-width: 992px) {
  .spacing {
    padding-top: 8rem;
  }
}

.container-farmacias {
  padding: 15rem 0;
  background-color: rgb(236, 236, 236);
}
