.contactos-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 5rem 0;
}
@media (min-width: 769px) {
  .contactos-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    padding: 10rem 0;
    gap: 5rem;
    align-items: center;
  }
}
.mapa-contacto img {
  width: 650px;
  height: auto;
  margin: 0 auto;
  border-radius: 0.9rem;
}

@media (min-width: 769px) {
  .contacto-info {
    padding-left: 7rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .contacto-info {
    padding-top: 5rem;
  }
}

.contacto-info li {
  list-style-type: none;
  display: flex;
  padding-left: 3rem;
  align-items: center;
}
.contacto-info li i {
  font-size: 2rem;
}
.contacto-info li p {
  padding-left: 2.2rem;
}

.contacto-info li a {
  padding-left: 2rem;
}
