<section>
  @if( itemSide.dropdown ){
  <div class="accordion-item">
    <div class="dropdown" [id]="'flush-heading' + id">
      <button
        class="button-item-dropdown"
        type="button"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#flush-collapse' + id"
        aria-expanded="false"
        [attr.aria-controls]="'flush-collapse' + id"
      >
        <i class="{{ itemSide.icon }} icon-side"></i>

        <p class="item-text-dropdown">{{ itemSide.name }}</p>
        <i class="bi bi-caret-down fs-2"></i>
      </button>
      <div
        [id]="'flush-collapse' + id"
        class="accordion-collapse collapse"
        [attr.aria-labelledby]="'flush-heading' + id"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="item-body">
          <ul class="list-items-body">
            <button class="button-item-dropdown1">
              <i class="bi bi-dash-lg icon-side"></i>
              <p href="" class="item-text-dropdown1">COmp{{ id }}</p>
              <div class="div"></div>
            </button>
            <button class="button-item-dropdown1">
              <i class="bi bi-dash-lg icon-side"></i>
              <p href="" class="item-text-dropdown1">COmp{{ id }}</p>
              <div class="div"></div>
            </button>
            <button class="button-item-dropdown1">
              <i class="bi bi-dash-lg icon-side"></i>
              <p href="" class="item-text-dropdown1">COmp{{ id }}</p>
              <div class="div"></div>
            </button>
          </ul>
        </div>
      </div>
    </div>
  </div>

  }@else {
  <button class="button-item">
    <i class="{{ itemSide.icon }} icon-side"></i>

    <p class="item-text">{{ itemSide.name }}</p>
  </button>
  }
</section>
