<section>
  @if( itemSide.dropdown ){
  <div class="dropdown">
    <button
      class="button-item-dropdown"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="{{ itemSide.icon }} icon-side"></i>

      <p class="item-text-dropdown">{{ itemSide.name }}</p>
      <i class="bi bi-caret-down fs-2"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  }@else {
  <button class="button-item">
    <i class="{{ itemSide.icon }} icon-side"></i>

    <p class="item-text">{{ itemSide.name }}</p>
  </button>
  }
</section>
