<div class="footer">
  <div class="container">
    <div class="footer-grid">
      <div class="icon-footer">
        <img src="../../../assets/logo-footer.svg" alt="" />
        <p>
          Colegio de Farmacéuticos <br />
          de la Provincia de Buenos Aires <br />
          <span>Delegación Mercedes</span>
        </p>
      </div>
      <div class="info-colegio">
        <h3>El Colegio</h3>
        <a href="">Institucional</a>
        <a href="">Novedades</a>
        <a href="">Contacto</a>
      </div>
      <div class="farmacias-footer">
        <h3>Farmacias</h3>
        <a href="">Farmacias</a>
        <a href="">Farmacias de Turno</a>
      </div>
      <div class="contacto-footer">
        <h3>Contacto</h3>
        <div class="contacto-item">
          <i></i>
          <p>
            Calle 15 N° 658. <br />
            Mercedes, Bs. As, Argentina.
          </p>
        </div>
        <div class="contacto-item">
          <i></i>
          <p>2324502670</p>
        </div>
        <div class="contacto-item">
          <i></i>
          <p>contactocofamer.com.ar</p>
        </div>
      </div>
    </div>
  </div>
</div>
