<section>
  <app-nosotros />
  <form action="" class="form-contacto">
    <div class="grid-form-cont">
      <div class="div">
        <label for="" class="label-contact">Nombre</label>
        <input type="text" class="input-contact" required />
      </div>
      <div class="div">
        <label for="" class="label-contact">Descripcion</label>
        <input type="text" class="input-contact" required />
      </div>
      <div class="div">
        <label for="" class="label-contact">Imagen</label>
        <input type="file" class="input-contact2" required />
      </div>
    </div>
    <button type="submit" class="button-contact">Guardar</button>
  </form>
</section>
