<section class="createUser">
  <h3 class="text-creat-user">Nuevo usuario</h3>
  <form action="" class="form-createUser">
    <img
      src="../../../../assets/login3.png"
      alt="img-persona"
      class="img-create"
    />
    <div class="grid-create-user">
      <div class="div">
        <label for="" class="label-contact">Usuario</label>
        <input type="text" class="input-contact" required />
      </div>
      <div class="div">
        <label for="" class="label-contact">Nombre completo</label>
        <input type="text" class="input-contact" required />
      </div>
   
      <div class="div">
        <label for="" class="label-contact">Contraseña</label>
        <input type="text" class="input-contact" required />
      </div>
      <div class="div">
        <label for="" class="label-contact">Foto de perfil</label>
        <input type="file" class="input-contact2" required />
      </div>
    </div>

    <button type="submit" class="button-contact">Crear</button>
  </form>
</section>
