<section class="createUser">
  <form
    action=""
    class="form-createUser"
  >
    <img src="../../../../assets/login3.png" alt="img-persona" class="img-create"/>

    <label for="" class="label-contact">Usuario</label>
    <input type="text" class="input-contact" required />

    <label for="" class="label-contact">Nombre completo</label>
    <input type="text" class="input-contact" required />

    <label for="" class="label-contact">Foto de perfil</label>
    <input type="file" class="input-contact2" required />
    <label for="" class="label-contact">Contraseña</label>
    <input type="text" class="input-contact" required />


    <button type="submit" class="button-contact">Crear</button>
  </form>
</section>
