<section>
  <h3 class="text-contact">Modificar Contacto</h3>
  <app-contacto-comp />
  <form action="" class="form-contacto">
    <div class="grid-form-cont">
      <div class="div">
        <label for="" class="label-login">direccion</label>
        <input type="text" class="input-login" required />
      </div>
      <div class="div">
        <label for="" class="label-login">Telefono</label>
        <input type="text" class="input-login" required />
      </div>
      <div class="div">
        <label for="" class="label-login">Celular</label>
        <input type="text" class="input-login" required />
      </div>
      <div class="div">
        <label for="" class="label-login">Email</label>
        <input type="text" class="input-login" required />
      </div>
      <div class="div">
        <label for="" class="label-login">Dias</label>
        <input type="date" class="input-login" required />
      </div>
      <div class="div">
        <label for="" class="label-login">Hora</label>
        <input type="t" class="input-login" required />
      </div>
    </div>
    <button type="submit" class="button-login">Guardar</button>
  </form>
</section>
