<section class="mod-contact">
  <h3 class="text-contact">Modificar Contacto</h3>
  <app-contacto-comp />
  <form action="" class="form-contacto">
    <div class="grid-form-cont">
      <div class="div">
        <label for="" class="label-contact">direccion</label>
        <input type="text" class="input-contact" required />
      </div>
      <div class="div">
        <label for="" class="label-contact">Telefono</label>
        <input type="text" class="input-contact" required />
      </div>
      <div class="div">
        <label for="" class="label-contact">Celular</label>
        <input type="text" class="input-contact" required />
      </div>
      <div class="div">
        <label for="" class="label-contact">Email</label>
        <input type="text" class="input-contact" required />
      </div>
      <div class="div">
        <label for="" class="label-contact">Dias</label>
        <input type="text" class="input-contact" required />
      </div>
      <div class="div">
        <label for="" class="label-contact">Hora</label>
        <input type="text" class="input-contact" required />
      </div>
    </div>
    <button type="submit" class="button-contact">Guardar</button>
  </form>
</section>
