body {
  min-height: 100vh;
  margin: 0;
  position: relative; /* Use relative positioning */
}

.container-login {
  display: flex;
  flex-direction: column;

  flex: 1; /* Allow container to take up remaining space */
}
.contenedor {
  padding-top: 17rem;
}
.position-button {
  margin-top: 2rem; /* Adjust spacing as needed */
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.button-volver {
  color: var(--secondary);
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button-volver p {
  margin: 0;
}

.button-volver:hover {
  filter: drop-shadow(2px 2px 1px rgba(34, 197, 94, 0.609));
}

.footer-login {
  position: absolute; /* Use absolute positioning */
  bottom: 0; /* Place footer at the bottom */
  left: 0; /* Span across the entire width */
  width: 100%;
  height: 10%; /* Set a fixed height for the footer */
  background-color: var(--primary);
  color: white;
}

.text{
  
}