.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.position-button {
  margin-top: 3rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) { 
 .position-button{
  margin-top: 4rem;
  margin-left: 4rem;
} 
}

.button-volver {
  color: var(--secondary);
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button-volver p {
  margin: 0;
}

.button-volver:hover {
  filter: drop-shadow(2px 2px 1px rgba(34, 197, 94, 0.609));
}
