.sidebar {
  width: 30rem;
  height: 100vh;
  background-color: white;
}

.position-logo {
  height: 7rem;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.13);
}
.logo-dashboard {
  width: 20rem;
  height: auto;
  margin-left: 2rem;
}
.items-sidebar {
  display: flex;

  padding-top: 2rem;
}
