.datos-container {
  width: 100%;
  background-color: var(--secondary);
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .datos-container {
    width: 100%;

    background-color: var(--secondary);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.item-dato {
  color: white;
  text-align: center;
  padding: 2rem 0;
}
.numero-datos {
  display: flex;

  justify-content: center;
  align-items: center;
}
.numero-datos h3 {
  margin: 0;
}

@media (min-width: 768px) {
  .item-dato {
    padding: 0;
  }
}

.item-dato h4 {
  font-size: 7rem;
  font-weight: 800;
}
@media (min-width: 768px) and (max-width: 992px) {
  .item-dato:nth-child(3) h4 {
    font-size: 5rem;
  }
}
.item-dato p {
  font-weight: 600;
  font-size: 2.3rem;
  text-transform: uppercase;

  line-height: 0;
}

@media (min-width: 768px) {
  .item-dato p {
    font-size: 1.6rem;
  }
}
